@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");


* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  color: #292828;
  min-height: 100vh;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
}
  
  
.App {
  padding: 1rem;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  border-radius: 30px;
  background: #c8bcef;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}
  
h1 {
  font-weight: 300;
  color: #ffffff;
  font-size: 2.5rem;
  margin: 5px;
}
  
.input {
  margin: 1.5rem;
}
  

.todo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
  
input {
  width: 450px;
  padding: 1em;
  margin-right: 5px;
  border-radius: 10px;
  background-color: #ffffff;
  border: none;
}

input:focus {
  outline: none;
}

button {
  width: 120px;
  padding: 0.8em;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 400;
  letter-spacing: 0.1rem;
}


button {
  font-size: 1em;
  appearance: none;
  background: transparent;
  border: 1px solid #5c5c62;
}

.add-button {
  color: #ffffff;
  background-color: #abe8a1;
  border: none;
  font-weight: 700;
}

.add-button:hover {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  transform: scale(1.05, 1.05);
}

.delete-button {
  padding: 1em;
  background: #fe6a6a;
  font-weight: 700;
  border: none;
  color: #f3f4f5;
}

.delete-button:hover {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  transform: scale(1.05, 1.05);
}

ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
}

li {
  width: 450px;
  padding: 1em;
  text-align: left;
  margin-bottom: 0.5rem;
  background: #f3f4f5;
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  margin-right: 5px;
  border-radius: 10px;
  border: none;
}


.empty {
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Roboto", sans-serif;;
}
